{% macro show_list(val) -%}
    <div class="list-group">
        {% for subval in val %}
            {{ show_value(subval) }}
        {% endfor %}
    </div> <!-- list-group -->
{%- endmacro %}

{% macro show_value(val) -%}
    {% if val.items  %}
        {{ show_dict(val) }}
    {% elif val.__iter__ %}
        {{ show_list(val) }}
    {% else %}
        <p class="list-group-item-text">{{ val }}</p>
    {% endif %}
{%- endmacro %}

{% macro show_dict(val) -%}
    {% if '_href' in val and not '_type' in val %}
        <!-- just a link -->
        <a class="list-group-item-text" href={{ val._href }}>{{ val._disp }}</a>
    {% else %}
        <!-- either an embedded resource or normal dict -->
        <div class="list-group">
            {% for key, subval in val.items() %}
                {% if key[0] != '_' %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ key }}</h4>
                    {{ show_value(subval) }}
                </div>
                {% endif %}
            {% endfor %}
        </div> <!-- list-group -->
    {% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/lib/html5shiv.js"></script>
    <script src="/static/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <h1>{{ resource._disp }}</h1>
        {{ show_dict(resource) }}
    </div> <!-- container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/lib/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


<!--

# Test Site 1

name: Test Site 1
devices: [devices]
latitude: 234.293
longitude: 234.293


-->
