{% macro show_list(val) -%}
    <ul class="list-group">
        {% for subval in val %}
            <li class="list-group-item">{{ show_value(subval) }}</li>
        {% endfor %}
    </ul> <!-- list-group -->
{%- endmacro %}

{% macro show_value(val) -%}
    {% if val.items  %}
        {{ show_dict(val, gen_id()) }}
    {% elif val.__iter__ %}
        {{ show_list(val) }}
    {% else %}
        {{ val }}
    {% endif %}
{%- endmacro %}

{% macro show_dict(val, unique, collapsed=True) -%}
    {% if '_href' in val and not '_type' in val %}
        <!-- just a link -->
        <a href={{ val._href }}>{{ val._disp }}</a>
    {% else %}
        <!-- either an embedded resource or normal dict -->
        {% if '_disp' in val %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="list-group-item-header" href={{ val._href }}>{{ val._disp }}</a>
                    <button type="button" class="btn btn-xs pull-right" data-toggle="collapse" data-target="#{{ unique }}">
                        <span class="caret"></span>
                    </button>
                </div> <!-- panel-heading -->
            {% if collapsed %}
            <ul class="list-group collapse" id="{{ unique }}">
            {% else %}
            <ul class="list-group collapse in" id="{{ unique }}">
            {% endif %}
        {% else %}
            <ul class="list-group">
        {% endif %}
            {% for key, subval in val.items() %}
                {% if key[0] != '_' %}
                    <li class="list-group-item">
                        {{ key }}: {{ show_value(subval) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if '_disp' in val %}
            </div> <!-- panel -->
        {% endif %}
    {% endif %}
{%- endmacro %}


<!--
    <div class="panel panel-default">
      <div class="panel-heading">Resource Title
          <button type="button" class="btn btn-xs pull-right" data-toggle="collapse" data-target="#fields">
              <span class="caret"></span>
          </button>
      </div>
      <ul class="list-group collapse" id="fields">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doppel2 API Explorer</title>

    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .rickshaw_graph .detail .x_label {
            top: -30px;  /* workaround so hovers don't overlap when the point
                            is near the top */
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/lib/html5shiv.js"></script>
    <script src="/static/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="page-header">
            <a href="/api/"><h1>Doppel2 API Explorer</h1></a>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3 id="chart-header" class="hidden">Data</h3>
                <div id="data-chart"></div>
                <div id="chart_container">
                    <div id="y_axis"></div>
                    <div id="data-chart"></div>
                </div>
                <h3>Resource</h3>
                {{ show_dict(resource, gen_id(), False) }}
            </div>
            <div class="col-md-7">
                <h3 class="text-right">Raw Response</h3>
                <pre>{{ json_str }}</pre>
            </div>
        </div>
    </div> <!-- container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/lib/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/d3.min.js"></script>
    <script src="/static/lib/d3.layout.min.js"></script>
    <script src="/static/lib/rickshaw.min.js"></script>
    <link rel="stylesheet" href="/static/lib/rickshaw.min.css">
    <script>
        resource_data = {{ json_str }};
        if((resource_data._type == "resource-list") &&
                (resource_data.meta.totalCount > 0) &&
                (resource_data.data[0]._type == "data")) {

            $("#chart-header").removeClass("hidden")

            data = []
            for(i = 0; i < resource_data.meta.totalCount; i++) {
                new_point = {
                    x: Date.parse(resource_data.data[i].timestamp) / 1000,
                    y: resource_data.data[i].value
                }
                data.push(new_point)
            };

            var graph = new Rickshaw.Graph( {
                element: document.querySelector("#data-chart"),
                // width: 580,
                height: 250,
                series: [ {
                    name: resource_data.data[0].sensor._disp,
                    color: 'steelblue',
                    data: data
                } ]
            } );
            var x_axis = new Rickshaw.Graph.Axis.Time({graph: graph});
            var y_axis = new Rickshaw.Graph.Axis.Y({graph: graph});
            var hoverDetail = new Rickshaw.Graph.HoverDetail({graph: graph});

            graph.render();
            //x_axis.render();
            //y_axis.render();
        }
    </script>
</body>
</html>
