<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chain API Explorer</title>

    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- RickShaw -->
    <link rel="stylesheet" href="/static/lib/rickshaw.min.css">
    <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <style>
        .rickshaw_graph .detail .x_label {
            top: -10px;  /* workaround so hovers don't overlap when the point
                            is near the top */
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/lib/html5shiv.js"></script>
    <script src="/static/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="page-header">
            <a href="/"><h1>Chain API Explorer</h1></a>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3 id="chart-header" class="hidden">Data</h3>
                <div id="chart-container">
                    <div id="y_axis"></div>
                    <div id="data-chart"></div>
                    <div id="slider"></div>
                </div>
                <h3 id="response-title"></h3>
                <div id="submit-form"></div>
                <button type="button" class="btn btn-primary btn-lg" id="submit-btn">Submit</button>
                <div id="rendered-response"></div>
            </div>
            <div class="col-md-7">
                <h3 class="text-right">Raw Response</h3>
                <pre id="raw-response"></pre>
            </div>
        </div>
    </div> <!-- container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/lib/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/d3.min.js"></script>
    <script src="/static/lib/d3.layout.min.js"></script>
    <script src="/static/lib/rickshaw.min.js"></script>
    <script src="/static/lib/jsoneditor.js"></script>
    <script src="/static/chainbrowser.js"></script>

    <script>
        var resource_data = {{ json_str }};
        $("#raw-response").text(JSON.stringify(resource_data, undefined, 2));
        // all of the non-form hal+json responses have a _links field
        if(resource_data._links) {
            $("#response-title").text("Resource");
            $("#submit-btn").hide();
            render_response(resource_data, $("#rendered-response"));
        }
        else {
            $("#response-title").hide();
            render_form(resource_data,
                        document.getElementById('submit-form'),
                        document.getElementById('submit-btn'));
        }
        if(resource_data.hasOwnProperty("data") &&
                resource_data.dataType == "float" &&
                resource_data.data.length > 0) {
            render_chart(resource_data.data, $("#chart-container"));
        }
    </script>
</body>
</html>
